Repository hmcts/civil-citizen-ui, pull requests merged in 2022-02, with the labels that each got.

#121 Feature/civ 815 setup local redis instance
  compose/draft-store.yml
  config/default.yaml
  package.json
  src/integration-test/smoke-test.js
  src/main/modules/draft-store/index.ts
  src/main/modules/nunjucks/index.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-121

#140 Civ 637 citizen sign in to c UI money claims portal
  Jenkinsfile_CNP
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.aat.template.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  config/test.yaml
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
  package.json
  src/integration-test/smoke-test.js
  src/main/app.ts
  src/main/app/auth/user/oidc.ts
  src/main/app/client/civilServiceClient.ts
  src/main/common/models/AppRequest.ts
  src/main/modules/oidc/index.ts
  src/main/routes/features/dashboard/index.ts
  src/main/routes/routes.ts
  src/main/routes/unauthorised.ts
  src/main/routes/urls.ts
  src/main/views/unauthorised.njk
  src/test/a11y/a11y.ts
  src/test/config.ts
  src/test/e2e/pages/homepage.ts
  src/test/e2e/step_definitions/steps.ts
  src/test/functional/features/homepage.feature
  src/test/unit/app/auth/user/oidc.test.ts
  src/test/unit/app/client/civilServiceClient.test.ts
  src/test/unit/modules/i18n/i18n.test.ts
  src/test/unit/routes/home.test.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-140

#148 Upgrade nested dependencies ajv and follow-redirects
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-148

#142 Feature/civ 1110 confirm details
  charts/civil-citizen-ui/Chart.yaml
  jest.a11y.config.js
  jest.config.js
  jest.setup.redis-mock.ts
  jest.smoketest.config.js
  package.json
  src/main/app.ts
  src/main/app/client/civilServiceClient.ts
  src/main/common/models/claim.ts
  src/main/common/utils/validator.ts
  src/main/controllers/features/response/confirm-details.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/i18n/index.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes/features/dashboard/index.ts
  src/main/routes/features/response/index.ts
  src/main/routes/urls.ts
  src/main/server.ts
  src/main/views/features/response/your-details.njk
  src/main/views/macros/contact-us-for-help.njk
  src/main/views/webpack/js.njk
  src/test/a11y/a11y.ts
  src/test/e2e/pages/homepage.ts
  src/test/unit/controllers/features/response/confirm-details.test.ts
  src/test/unit/routes/features/response/claim-details.test.ts
  src/test/unit/routes/features/response/confirm-details.test.ts
  src/test/unit/routes/home.test.ts
  webpack.config.js
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-142

#143 Civ 904 confirm details phone number
  config/default.yaml
  config/test.yaml
  jest.functionaltest.config.js
  jest.routes.config.js
  package.json
  src/main/app.ts
  src/main/app/client/civilServiceClient.ts
  src/main/common/form/models/citizenTelephoneNumber.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validationErrors/formValidationError.ts
  src/main/common/form/validators/optionalIntegerValidator.ts
  src/main/common/models/claim.ts
  src/main/common/models/primaryAddress.ts
  src/main/common/models/respondent.ts
  src/main/common/utils/htmlFormConverter.ts
  src/main/controllers/features/response/confirm-details.ts
  src/main/modules/oidc/index.ts
  src/main/routes/features/response/phone-details/index.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/phone-details/citizen-phone.njk
  src/main/views/features/response/your-details.njk
  src/main/views/macro/buttons.njk
  src/main/views/macro/contact-us-for-help.njk
  src/main/views/macro/csrf.njk
  src/test/a11y/a11y.ts
  src/test/e2e/pages/phonenumber.ts
  src/test/e2e/step_definitions/steps.ts
  src/test/unit/common/form/models/citizenTelephoneNumber.test.ts
  src/test/unit/common/form/validators/optionalIntegerValidator.test.ts
  src/test/unit/common/utils/htmlFormConverter.test.ts
  src/test/unit/modules/i18n/i18n.test.ts
  src/test/unit/routes/citizenTelephoneNumber.test.ts
  src/test/unit/routes/features/response/confirm-details.test.ts
  src/test/unit/routes/home.test.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-143

#156 Civ 897 confirm details dob
  src/main/app.ts
  src/main/common/form/models/citizenDob.ts
  src/main/common/form/models/citizenTelephoneNumber.ts
  src/main/common/form/models/form.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validationErrors/formValidationError.ts
  src/main/common/form/validators/optionalDateNotInFutureValidator.ts
  src/main/common/form/validators/optionalIntegerValidator.ts
  src/main/common/models/respondent.ts
  src/main/common/utils/dateConverter.ts
  src/main/modules/oidc/index.ts
  src/main/routes/features/dashboard/index.ts
  src/main/routes/features/response/citizenDob/citizenDobController.ts
  src/main/routes/features/response/citizenPhoneNumber/citizenPhoneController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/citizenDob/citizen-dob.njk
  src/main/views/features/response/citizenPhoneNumber/citizen-phone.njk
  src/main/views/features/response/claim-details.njk
  src/main/views/features/response/phone-details/citizen-phone.njk
  src/main/views/govukTemplate.njk
  src/main/views/layout.njk
  src/main/views/template.njk
  src/test/a11y/a11y.ts
  src/test/tsconfig.json
  src/test/unit/common/form/models/citizenDob.test.ts
  src/test/unit/common/form/models/citizenPhoneNumber.test.ts
  src/test/unit/common/form/models/citizenTelephoneNumber.test.ts
  src/test/unit/common/form/models/form.test.ts
  src/test/unit/common/form/validators/optionalDateNotInFutureValidator.test.ts
  src/test/unit/common/utils/dateConverter.test.ts
  src/test/unit/routes/features/response/citizenDob/citizenDobController.test.ts
  src/test/unit/routes/features/response/citizenPhoneDetails/citizenPhoneController.test.ts
  src/test/unit/routes/features/response/claimDetails.test.ts
  src/test/unit/routes/features/response/confirmDetails.test.ts
  src/test/unit/routes/home.test.ts
  tsconfig.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-156

#149 Feature/civ 814 redis preview setup
  Jenkinsfile_CNP
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.aat.template.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  infrastructure/main.tf
  infrastructure/output.tf
  package.json
  src/integration-test/smoke-test.js
  src/main/app.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/health/index.ts
  src/main/modules/oidc/index.ts
  src/main/modules/properties-volume/index.ts
  src/main/routes/health.ts
  src/test/unit/modules/health/health-down.test.ts
  src/test/unit/modules/health/health-up.test.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-149

#157 Civ 1107 under 18
  src/main/common/utils/ageEligibilityVerification.ts
  src/main/routes/features/response/ageEligibility/ageEligibilityController.ts
  src/main/routes/features/response/citizenDob/citizenDobController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/ageEligibility/under-18.njk
  src/test/a11y/a11y.ts
  src/test/unit/common/utils/ageEligibilityVerification.test.ts
  src/test/unit/routes/features/response/ageEligibility/ageEligibilityController.test.ts
  src/test/unit/routes/features/response/citizenDob/citizenDobController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-157

#160 fix nodemon configuration
  nodemon.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-160

#159 Civ 1281 contact us for help
  src/main/views/features/response/ageEligibility/under-18.njk
  src/main/views/features/response/citizenDob/citizen-dob.njk
  src/main/views/features/response/citizenPhoneNumber/citizen-phone.njk
  src/main/views/macro/contact-us-for-help.njk
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-159

#161 CIV-1395 fix error message on phone number page
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/test/unit/routes/features/response/citizenPhoneDetails/citizenPhoneController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-161

#163 Feature/civ 814 point preview to aat redis
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.yaml
  config/custom-environment-variables.yaml
  src/main/app.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/health/index.ts
  src/test/unit/controllers/features/response/confirm-details.test.ts
  src/test/unit/modules/draft-store/draftStore.test.ts
  src/test/unit/modules/health/health-down.test.ts
  src/test/unit/modules/health/health-up.test.ts
  src/test/unit/modules/i18n/i18n.test.ts
  src/test/unit/routes/features/response/ageEligibility/ageEligibilityController.test.ts
  src/test/unit/routes/features/response/citizenPhoneDetails/citizenPhoneController.test.ts
  src/test/utils/mockCreateClient.ts
  tsconfig.json
  typing/@hmcts/nodejs-logging.d.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-163
