Repository hmcts/civil-citizen-ui, pull requests merged in 2022-05, with the labels that each got.

#372 Civ 1606 regular income other
  src/main/assets/js/calculate-amount.js
  src/main/common/form/models/statementOfMeans/expensesAndIncome/otherTransaction.ts
  src/main/common/form/models/statementOfMeans/expensesAndIncome/regularExpenses.ts
  src/main/common/form/models/statementOfMeans/expensesAndIncome/regularIncome.ts
  src/main/common/form/models/statementOfMeans/expensesAndIncome/transaction.ts
  src/main/common/form/models/statementOfMeans/expensesAndIncome/transactionSource.ts
  src/main/common/utils/expenseAndIncome/regularIncomeExpenseCoverter.ts
  src/main/views/features/response/statementOfMeans/expenses/regular-expenses.njk
  src/main/views/features/response/statementOfMeans/income/regular-income.njk
  src/main/views/macro/transaction-details.njk
  src/test/unit/common/form/models/statementOfMeans/expensesAndIncome/regularExpenses.test.ts
  src/test/unit/common/form/models/statementOfMeans/expensesAndIncome/transaction.test.ts
  src/test/unit/routes/features/response/statementOfMeans/expenses/regularExpensesController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/income/regularIncomeController.test.ts
  src/test/utils/errorMessageTestConstants.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-372

#380 CIV-1981 - Free Telephone Mediation
  src/main/common/utils/taskList/taskListBuilder.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/taskListService.ts
  src/main/routes/features/response/mediation/freeTelephoneMediationController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/claim-details-tpl.njk
  src/main/views/features/response/admission/partialAdmission/why-do-you-disagree.njk
  src/main/views/features/response/mediation/free-telephone-mediation.njk
  src/main/views/macro/page-title.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/routes/features/response/mediation/freeTelephoneMediationController.test.ts
  src/test/unit/views/features/response/mediation/free-telephone-mediation.test.ts
  src/test/utils/mockDraftStore.ts
  src/test/utils/mocks/civilClaimResponseApplicanIndividualMock.json
  src/test/utils/mocks/civilClaimResponseApplicantCompanyMock.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-380

#381 Civ 1986 not try free mediation
  src/main/common/form/models/mediation/freeMediation.ts
  src/main/common/models/claim.ts
  src/main/common/models/mediation/mediation.ts
  src/main/common/models/mediation/mediationIndividualTelephoneNumber.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/mediation/mediationService.ts
  src/main/routes/features/mediation/mediationDisagreementController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/mediation/mediation-disagreement.njk
  src/main/views/macro/yesNoForm.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/modules/mediation/mediationService.test.ts
  src/test/unit/routes/features/mediation/applicantTypeMock.json
  src/test/unit/routes/features/mediation/mediationDisagreementController.test.ts
  src/test/utils/errorMessageTestConstants.ts
  src/test/utils/mocks/civilClaimResponseOptionNoMock.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-381

#377 Feature/civ 1309 create preview env
  Jenkinsfile_CNP
  bin/add-roles.sh
  bin/generate-ssl-options.sh
  bin/import-bpmn-diagram.sh
  bin/import-ccd-definition.sh
  bin/init.sh
  bin/pull-latest-release-asset.sh
  bin/utils/ccd-add-role.sh
  bin/utils/ccd-import-definition.sh
  bin/utils/idam-lease-service-token.sh
  bin/utils/idam-lease-user-token.sh
  bin/utils/import-ccd-definition.sh
  bin/utils/process-definition.sh
  bin/variables/load-aat-environment-variables.sh
  bin/variables/load-preview-environment-variables.sh
  bin/variables/load-staging-environment-variables.sh
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/templates/NOTES.txt
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  src/integration-test/smoke-test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-377, enableHelm, fullDeploy

#393 Civ 1987 mediation i do not agree to free mediation
  src/main/common/form/models/mediation/noMediationReason.ts
  src/main/common/form/models/mediation/noMediationReasonOptions.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/mediation/mediation.ts
  src/main/modules/mediation/mediationService.ts
  src/main/routes/features/mediation/iDontWantFreeMediationController.ts
  src/main/routes/routes.ts
  src/main/views/features/mediation/i-dont-want-free-mediation.njk
  src/test/unit/routes/features/mediation/iDontWantFreeMediationController.test.ts
  src/test/utils/errorMessageTestConstants.ts
  src/test/utils/mockDraftStore.ts
  src/test/utils/mocks/civilClaimResponseApplicanWithMediationMock.json
Labels: ns:civil, prd:civil, fullDeploy, rel:civil-citizen-ui-pr-393

#391 Civ 922 lr claimant details
  src/main/common/models/claim.ts
  src/main/common/models/correspondenceAddress.ts
  src/main/modules/contactThem/contactThemService.ts
  src/main/modules/draft-store/redisData.json
  src/main/routes/features/dashboard/contactThemController.ts
  src/main/routes/features/response/financialDetails/financialDetailsController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/dashboard/contact-them.njk
  src/main/views/features/response/financialDetails/financial-details.njk
  src/main/views/macro/about-claim-widget.njk
  src/main/views/macro/new-line.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/modules/contactThem/contactThemService.test.ts
  src/test/unit/routes/features/dashboard/contactThemController.test.ts
  src/test/unit/routes/features/response/financial-details/financialDetailsController.test.ts
  src/test/utils/mocks/civilClaimResponseMock.json
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-391

#407 bugFix/CIV-2460/Prevent displaying individual defendant details with errors
  src/main/routes/features/response/citizenDetails/citizenDetailsController.ts
  src/test/unit/routes/features/response/citizenDetails/citizenDetailsController.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-407

#395 Civ 1994 why do you believe
  src/main/common/form/models/rejectAllOfClaim.ts
  src/main/common/form/models/rejectAllOfClaimType.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/claim.ts
  src/main/common/models/respondent.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/rejectAllOfClaimService.ts
  src/main/routes/features/response/rejectAllOfClaimController.ts
  src/main/routes/features/response/responseType/citizenResponseTypeController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/reject-all-of-claim.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/rejectAllOfClaim.test.ts
  src/test/unit/modules/rejectAllOfClaimService.test.ts
  src/test/unit/routes/features/response/rejectAllOfClaimController.test.ts
  src/test/utils/mocks/civilClaimResponseMock.json
  src/test/utils/mocks/civilClaimResponseUnemploymentRetiredMock.json
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-395

#382 Feature/CIV-1983/Confirm company phone number
  sonar-project.properties
  src/main/common/form/models/mediation/companyTelephoneNumber.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validators/postcodeValidator.ts
  src/main/common/models/mediation/mediation.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/mediation/companyTelephoneNumberService.ts
  src/main/modules/mediation/mediationService.ts
  src/main/routes/features/mediation/companyTelephoneNumberController.ts
  src/main/routes/features/mediation/freeTelephoneMediationController.ts
  src/main/routes/features/response/admission/partialAdmission/howMuchDoYouOweController.ts
  src/main/routes/routes.ts
  src/main/views/features/mediation/company-telephone-number.njk
  src/main/views/features/mediation/free-telephone-mediation.njk
  src/main/views/features/response/admission/partialAdmission/how-much-do-you-owe.njk
  src/main/views/macro/canWeUseCompanyInputs.njk
  src/test/unit/common/form/models/mediation/companyTelephoneNumber.test.ts
  src/test/unit/modules/mediation/companyTelephoneNumberService.test.ts
  src/test/unit/routes/features/mediation/companyTelephoneNumberController.test.ts
  src/test/unit/routes/features/mediation/freeTelephoneMediationController.test.ts
  src/test/unit/views/features/mediation/company-telephone-number.test.ts
  src/test/unit/views/features/mediation/free-telephone-mediation.test.ts
  src/test/utils/errorMessageTestConstants.ts
  src/test/utils/mocks/civilClaimResponseMock.json
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-382

#409 Civ 1978 timeline of events
  package.json
  src/main/assets/js/append-row.js
  src/main/assets/scss/citizen-ui-colours.scss
  src/main/assets/scss/main.scss
  src/main/common/form/models/timeLineOfEvents/defendantTimeline.ts
  src/main/common/form/models/timeLineOfEvents/timelineRow.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/claim.ts
  src/main/common/models/partialAdmission.ts
  src/main/common/models/timelineOfEvents/timeLineOfEvents.ts
  src/main/modules/nunjucks/filters/dateFilter.ts
  src/main/modules/nunjucks/index.ts
  src/main/modules/timelineOfEvents/defendantTimelineService.ts
  src/main/routes/features/response/timelineOfEvents/defendantTimelineController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/timelineOfEvents/defendant-timeline.njk
  src/main/views/macro/timeline-row.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/timelineOfEvents/defendantTimeline.test.ts
  src/test/unit/common/form/models/timelineOfEvents/timelineRow.test.ts
  src/test/unit/modules/timelineOfEvents/defendantTimelineService.test.ts
  src/test/unit/routes/features/response/timlineOfEvents/defendantTimelineController.test.ts
  src/test/unit/views/features/response/timelineOfEvents/defendantTimeline.test.ts
  yarn.lock
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-409

#408 Feature/civ 1980 list evidence
  sonar-project.properties
  src/main/assets/js/select-toggle.js
  src/main/assets/scss/main.scss
  src/main/common/form/models/evidence/evidence.ts
  src/main/common/form/models/evidence/evidenceItem.ts
  src/main/common/models/claim.ts
  src/main/common/models/evidence/evidence.ts
  src/main/common/models/evidence/evidenceDetails.ts
  src/main/common/models/evidence/evidenceItem.ts
  src/main/common/models/evidence/evidenceType.ts
  src/main/index.js
  src/main/modules/evidence/evidenceService.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes/features/response/evidence/evidenceController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/evidence/evidence.njk
  src/main/views/features/response/evidence/evidences.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/modules/evidence/evidenceService.test.ts
  src/test/unit/routes/features/response/evidence/evidenceController.test.ts
  src/test/unit/routes/features/response/evidence/evidenceListMock.json
  src/test/unit/routes/features/response/evidence/evidenceListTwoMock.json
  src/test/unit/views/features/response/evidence/evidence.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-408

#410 Civ 1996 reject post your response
  src/main/routes/features/response/eligibility/sendYourResponseByEmailController.ts
  src/main/routes/routes.ts
  src/main/views/features/response/eligibility/send-your-response-by-email.njk
  src/main/views/macro/contact-us.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/routes/features/response/eligibility/sendYourResponseByEmailController.test.ts
  src/test/unit/views/features/response/eligibility/send-your-response-by-email.test.ts
  src/test/utils/errorMessageTestConstants.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-410

#417 CIV-1280 - TechDebt - remove follow-redirects transitive dependency
  package.json
Labels: ns:civil, prd:civil, fullDeploy, rel:civil-citizen-ui-pr-417

#416 Feature/CIV-1189/first time response task list
  src/main/assets/scss/task-list.scss
  src/main/common/models/claim.ts
  src/main/common/utils/dateUtils.ts
  src/main/common/utils/taskList/taskListBuilder.ts
  src/main/common/utils/taskList/tasks/checkAndSubmitYourResponse.ts
  src/main/common/utils/taskList/tasks/chooseAResponse.ts
  src/main/common/utils/taskList/tasks/confirmYourDetails.ts
  src/main/common/utils/taskList/tasks/needMoreTime.ts
  src/main/common/utils/taskList/tasks/taskListHelpers.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/taskListService.ts
  src/main/routes/features/response/citizenPhoneNumber/citizenPhoneController.ts
  src/main/routes/features/response/responseType/citizenResponseTypeController.ts
  src/main/routes/features/response/taskListController.ts
  src/main/views/features/response/task-list.njk
  src/main/views/macro/about-claim-widget.njk
  src/main/views/macro/new-line.njk
  src/main/views/macro/time-remaining.njk
  src/test/unit/modules/taskListService.test.ts
  src/test/unit/routes/features/response/taskListController.test.ts
  src/test/utils/deepCopy.ts
  src/test/utils/mockClaim.ts
  src/test/utils/mocks/civilClaimResponseMock.json
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-416

#418 Civ 2117 language toggle
  sonar-project.properties
  src/main/assets/js/language-toggle.js
  src/main/assets/scss/main.scss
  src/main/index.js
  src/main/modules/i18n/index.ts
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/cy/translation.json
  src/main/modules/i18n/locales/en.json
  src/main/views/claim-details-tpl.njk
  src/main/views/features/dashboard/dashboard.njk
  src/main/views/features/response/statementOfMeans/explanation.njk
  src/test/unit/views/features/mediation/free-telephone-mediation.test.ts
  src/test/unit/views/features/response/dashboard/dashboard.test.ts
  src/test/unit/views/features/response/eligibility/send-your-response-by-email.test.ts
  src/test/unit/views/features/response/repaymentPlan/repaymentPlan.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-418

#422 fix(CIV-2527): redirect to correct pages
  src/main/routes/features/response/responseType/citizenResponseTypeController.ts
  src/test/unit/routes/features/response/citizenResponseType/citizenResponseTypeController.test.ts
Labels: ns:civil, prd:civil, fullDeploy, rel:civil-citizen-ui-pr-422

#421 CIV-2332 fix bug with resetting to no answer in correspondence addre…
  src/main/modules/citizenDetails/citizenDetailsService.ts
  src/main/routes/features/response/citizenDetails/citizenDetailsController.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-421

#420 refactor(tech-debt): add csrf protection
  src/main/views/features/mediation/can-we-use.njk
  src/main/views/features/mediation/company-telephone-number.njk
  src/main/views/features/response/admission/fullAdmission/paymentOption/payment-option.njk
  src/main/views/features/response/admission/partialAdmission/how-much-do-you-owe.njk
  src/main/views/features/response/admission/partialAdmission/how-much-have-you-paid.njk
  src/main/views/features/response/citizenDetails/citizen-details-company.njk
  src/main/views/features/response/citizenDetails/citizen-details.njk
  src/main/views/features/response/citizenDob/citizen-dob.njk
  src/main/views/features/response/citizenPhoneNumber/citizen-phone.njk
  src/main/views/features/response/citizenResponseType/citizen-response-type.njk
  src/main/views/features/response/financialDetails/financial-details.njk
  src/main/views/features/response/statementOfMeans/are-you-severely-disabled.njk
  src/main/views/features/response/statementOfMeans/citizenBankAndSavings/citizen-bank-accounts.njk
  src/main/views/features/response/statementOfMeans/courtOrders/court-orders.njk
  src/main/views/features/response/statementOfMeans/debts/debts.njk
  src/main/views/features/response/statementOfMeans/dependants/between_16_and_19.njk
  src/main/views/features/response/statementOfMeans/dependants/children-disability.njk
  src/main/views/features/response/statementOfMeans/dependants/dependants.njk
  src/main/views/features/response/statementOfMeans/disability.njk
  src/main/views/features/response/statementOfMeans/employment/employment-status.njk
  src/main/views/features/response/statementOfMeans/employment/selfEmployed/on-tax-payments.njk
  src/main/views/features/response/statementOfMeans/otherDependants/other-dependants.njk
  src/main/views/features/response/statementOfMeans/partner/partner-age.njk
  src/main/views/features/response/statementOfMeans/partner/partner-disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner-pension.njk
  src/main/views/features/response/statementOfMeans/partner/partner-severe-disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner.njk
  src/main/views/features/response/statementOfMeans/residence.njk
  src/main/views/features/response/task-list.njk
Labels: ns:civil, prd:civil, fullDeploy, rel:civil-citizen-ui-pr-420

#423 Remove code smells
  src/main/common/utils/taskList/tasks/checkAndSubmitYourResponse.ts
  src/main/routes/features/response/admission/partialAdmission/whyDoYouDisagreeController.ts
Labels: ns:civil, prd:civil, fullDeploy, rel:civil-citizen-ui-pr-423

#427 CIV-2594 - Mediation Disagreement Missing Text
  src/main/modules/i18n/locales/en.json
  src/main/views/features/mediation/mediation-disagreement.njk
Labels: ns:civil, prd:civil, fullDeploy, rel:civil-citizen-ui-pr-427

#424 Feature/civ 2487 sequence screens
  src/main/routes/features/response/citizenDetails/citizenDetailsController.ts
  src/main/routes/features/response/citizenPhoneNumber/citizenPhoneController.ts
  src/test/unit/routes/features/response/citizenDetails/citizenDetailsController.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-424

#426 Civ 2195 check your answers pay immediately
  src/main/common/form/models/statementOfTruth/qualifiedStatementOfTruth.ts
  src/main/common/form/models/statementOfTruth/statementOfTruthForm.ts
  src/main/common/models/claim.ts
  src/main/common/models/summaryList/summaryList.ts
  src/main/common/utils/dateUtils.ts
  src/main/common/utils/languageToggleUtils.ts
  src/main/common/utils/taskList/tasks/needMoreTime.ts
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/routes/features/response/checkAnswersController.ts
  src/main/routes/features/response/responseType/citizenResponseTypeController.ts
  src/main/routes/urls.ts
  src/main/services/features/response/checkAnswersService.ts
  src/main/views/features/response/check-answers.njk
  src/main/views/features/response/timelineOfEvents/defendant-timeline.njk
  src/main/views/macro/statement-of-truth.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/statementOfTruth/qualifiedStatementOfTruth.test.ts
  src/test/unit/common/form/models/statementOfTruth/statementOfTruthForm.test.ts
  src/test/unit/common/utils/languageToggleUtils.test.ts
  src/test/unit/routes/features/response/checkAnswersController.test.ts
  src/test/unit/routes/features/response/citizenResponseType/citizenResponseTypeController.test.ts
  src/test/unit/services/features/response/checkAnswersService.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-426

#425 CIV-2488 - Reject - You've paid less than claim amount
  src/main/assets/js/language-toggle.js
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/modules/rejectAllOfClaimService.ts
  src/main/modules/taskListService.ts
  src/main/routes/features/response/rejectAllOfClaimController.ts
  src/main/routes/features/response/rejection/fullReject/youHavePaidLessController.ts
  src/main/routes/features/response/responseType/citizenResponseTypeController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/claim-details-tpl.njk
  src/main/views/features/response/rejection/fullReject/you-have-paid-less.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/ bankAccountAndSavings/bankAccounts.test.ts
  src/test/unit/modules/rejectAllOfClaimService.test.ts
  src/test/unit/modules/taskListService.test.ts
  src/test/unit/routes/features/response/rejection/fullReject/youHavePaidLessController.test.ts
  src/test/unit/views/features/mediation/free-telephone-mediation.test.ts
  src/test/unit/views/features/response/admission/partialAdmission/already-paid.test.ts
  src/test/unit/views/features/response/eligibility/send-your-response-by-email.test.ts
  src/test/unit/views/features/response/evidence/evidence.test.ts
  src/test/unit/views/features/response/rejection/fullReject/you-have-paid-less.test.ts
  src/test/unit/views/features/response/repaymentPlan/repaymentPlan.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-425

#436 fix postcode
  Jenkinsfile_CNP
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  config/custom-environment-variables.yaml
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-436

#437 CIV-1003 - Task List Respond To Claim
  src/main/common/models/claim.ts
  src/main/common/utils/taskList/taskListBuilder.ts
  src/main/common/utils/taskList/tasks/decideHowYouPay.ts
  src/main/common/utils/taskList/tasks/repaymentPlan.ts
  src/main/common/utils/taskList/tasks/shareFinancialDetails.ts
  src/main/common/utils/taskList/tasks/taskListHelpers.ts
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/modules/statementOfMeans/explanationService.ts
  src/main/routes/features/response/financialDetails/financialDetailsController.ts
  src/main/routes/features/response/responseType/citizenResponseTypeController.ts
  src/main/views/features/response/task-list.njk
  src/test/unit/common/utils/taskList/tasks/taskListHelpers.test.ts
  src/test/unit/modules/taskListService.test.ts
  src/test/unit/routes/features/response/citizenResponseType/citizenResponseTypeController.test.ts
  src/test/unit/views/features/response/task-list.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-437

#428 Civ 2136 court fees
  src/main/app/client/civilServiceClient.ts
  src/main/common/models/feeRange.ts
  src/main/common/models/tableItem.ts
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/routes/features/response/eligibility/sendYourResponseByEmailController.ts
  src/main/views/features/mediation/i-dont-want-free-mediation.njk
  src/main/views/features/response/eligibility/send-your-response-by-email.njk
  src/main/views/features/response/statementOfMeans/explanation.njk
  src/test/unit/routes/features/response/eligibility/sendYourResponseByEmailController.test.ts
  src/test/unit/views/features/response/eligibility/send-your-response-by-email.test.ts
  src/test/utils/errorMessageTestConstants.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-428

#435 Civ 2062 why do you disagree with the claim
  src/main/assets/scss/main.scss
  src/main/common/form/models/defence.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/claim.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/modules/yourDefenceService.ts
  src/main/routes/features/response/yourDefenceController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/your-defence.njk
  src/main/views/macro/expandableSection.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/routes/features/response/yourDefenceController.test.ts
  src/test/unit/views/features/response/your-defence.test.ts
  src/test/utils/mocks/civilClaimResponseMock.json
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-435

#453 CIV-2141 - Tech Debt - Dynamic Ttles
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/views/features/dashboard/contact-them.njk
  src/main/views/features/dashboard/dashboard.njk
  src/main/views/features/mediation/can-we-use.njk
  src/main/views/features/mediation/company-telephone-number.njk
  src/main/views/features/mediation/free-telephone-mediation.njk
  src/main/views/features/mediation/i-dont-want-free-mediation.njk
  src/main/views/features/response/admission/fullAdmission/paymentOption/payment-date.njk
  src/main/views/features/response/admission/fullAdmission/paymentOption/payment-option.njk
  src/main/views/features/response/admission/partialAdmission/already-paid.njk
  src/main/views/features/response/admission/partialAdmission/how-much-do-you-owe.njk
  src/main/views/features/response/admission/partialAdmission/how-much-have-you-paid.njk
  src/main/views/features/response/admission/partialAdmission/why-do-you-disagree.njk
  src/main/views/features/response/ageEligibility/under-18.njk
  src/main/views/features/response/check-answers.njk
  src/main/views/features/response/citizenDetails/citizen-details-company.njk
  src/main/views/features/response/citizenDetails/citizen-details.njk
  src/main/views/features/response/citizenDob/citizen-dob.njk
  src/main/views/features/response/citizenPhoneNumber/citizen-phone.njk
  src/main/views/features/response/citizenResponseType/citizen-response-type.njk
  src/main/views/features/response/claimDetails/claim-details.njk
  src/main/views/features/response/eligibility/send-your-response-by-email.njk
  src/main/views/features/response/evidence/evidences.njk
  src/main/views/features/response/financialDetails/financial-details.njk
  src/main/views/features/response/reject-all-of-claim.njk
  src/main/views/features/response/repaymentPlan/repaymentPlan.njk
  src/main/views/features/response/statementOfMeans/are-you-severely-disabled.njk
  src/main/views/features/response/statementOfMeans/carer.njk
  src/main/views/features/response/statementOfMeans/citizenBankAndSavings/citizen-bank-accounts.njk
  src/main/views/features/response/statementOfMeans/courtOrders/court-orders.njk
  src/main/views/features/response/statementOfMeans/debts/debts.njk
  src/main/views/features/response/statementOfMeans/dependants/between_16_and_19.njk
  src/main/views/features/response/statementOfMeans/dependants/children-disability.njk
  src/main/views/features/response/statementOfMeans/dependants/dependants.njk
  src/main/views/features/response/statementOfMeans/disability.njk
  src/main/views/features/response/statementOfMeans/employment/employment-status.njk
  src/main/views/features/response/statementOfMeans/employment/selfEmployed/on-tax-payments.njk
  src/main/views/features/response/statementOfMeans/employment/selfEmployed/self-employed-as.njk
  src/main/views/features/response/statementOfMeans/employment/who-employs-you.njk
  src/main/views/features/response/statementOfMeans/expenses/regular-expenses.njk
  src/main/views/features/response/statementOfMeans/explanation.njk
  src/main/views/features/response/statementOfMeans/income/regular-income.njk
  src/main/views/features/response/statementOfMeans/otherDependants/other-dependants.njk
  src/main/views/features/response/statementOfMeans/partner/partner-age.njk
  src/main/views/features/response/statementOfMeans/partner/partner-disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner-pension.njk
  src/main/views/features/response/statementOfMeans/partner/partner-severe-disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner.njk
  src/main/views/features/response/statementOfMeans/priority-debts.njk
  src/main/views/features/response/statementOfMeans/residence.njk
  src/main/views/features/response/statementOfMeans/unemployment.njk
  src/main/views/features/response/timelineOfEvents/defendant-timeline.njk
  src/test/unit/views/features/mediation/can-we-use.test.ts
  src/test/unit/views/features/mediation/company-telephone-number.test.ts
  src/test/unit/views/features/response/admission/partialAdmission/already-paid.test.ts
  src/test/unit/views/features/response/eligibility/send-your-response-by-email.test.ts
  src/test/unit/views/features/response/rejection/fullReject/you-have-paid-less.test.ts
  src/test/unit/views/features/response/task-list.test.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-453

#454 rename Citizen UI IDAM secret key
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  src/main/modules/properties-volume/index.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-454

#455 Civ 2521 check your answer when pay
  src/main/common/models/claim.ts
  src/main/common/models/primaryAddress.ts
  src/main/common/models/respondent.ts
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/routes/features/response/repaymentPlan/repaymentPlanController.ts
  src/main/services/features/response/checkAnswersService.ts
  src/main/views/features/response/repaymentPlan/repaymentPlan.njk
  src/test/unit/services/features/response/checkAnswersService.test.ts
  src/test/utils/mockClaim.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-455

#457 Packages bump
  charts/civil-citizen-ui/Chart.yaml
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-457

#459 Feature/civ 1187 complete all sections
  package.json
  src/main/app.ts
  src/main/common/models/taskList/task.ts
  src/main/common/utils/taskList/taskListBuilder.ts
  src/main/common/utils/taskList/tasks/checkAndSubmitYourResponse.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/i18n/locales/cy.json
  src/main/modules/i18n/locales/en.json
  src/main/modules/taskListService.ts
  src/main/routes/features/response/checkAnswersController.ts
  src/main/routes/features/response/incompleteSubmissionController.ts
  src/main/routes/features/response/taskListController.ts
  src/main/routes/guards/allResponseTasksCompletedGuard.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/incomplete-submission.njk
  src/main/views/macro/remaining-tasks-fragment.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/modules/taskListService.test.ts
  src/test/unit/routes/features/response/checkAnswersController.test.ts
  src/test/unit/routes/features/response/incompleteSubmissionController.test.ts
  src/test/unit/routes/guards/allResponseTasksCompleteGuard.test.ts
  yarn.lock
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-459

#470 Packages bump
  charts/civil-citizen-ui/Chart.yaml
  package.json
  src/main/modules/helmet/index.ts
  yarn.lock
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-470

#480 Add new Redis instance with new subdomain: civil-citizen-ui-draft-store
  infrastructure/main.tf
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-480

#484 Point CCUI to recently created Redis instance and decommission old one
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  infrastructure/main.tf
  src/main/modules/properties-volume/index.ts
Labels: ns:civil, prd:civil, enableHelm, fullDeploy, rel:civil-citizen-ui-pr-484
