Repository hmcts/civil-citizen-ui, pull requests merged in 2022-03, with the labels that each got.

#162 Feature/civ 1004 defendant response how do you respond admit
  src/main/common/form/models/citizenResponseType.ts
  src/main/common/form/models/componentDetailItems/componentDetailItems.ts
  src/main/common/form/models/responseType.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/claim.ts
  src/main/common/models/respondent.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes/features/response/responseType/citizenResponseType.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/citizenResponseType/citizen-response-type.njk
  src/main/views/features/response/citizenResponseType/details-content.njk
  src/test/a11y/a11y.ts
  src/test/unit/common/form/models/citizenResponseType.test.ts
  src/test/unit/routes/features/response/citizenResponseType/citizenResponseTypeController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-162

#177 add redis mock
  src/main/app.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/draft-store/redisData.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-177

#173 Civ 1395 further changes to error message
  src/main/common/form/models/citizenTelephoneNumber.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validators/optionalIntegerValidator.ts
  src/main/views/features/response/citizenPhoneNumber/citizen-phone.njk
  src/test/unit/routes/features/response/citizenPhoneDetails/citizenPhoneController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-173

#175 Civ 640 dashboard view cases
  config/default.yaml
  config/test.yaml
  src/integration-test/smoke-test.js
  src/main/app/client/civilServiceClient.ts
  src/main/app/client/civilServiceUrls.ts
  src/main/common/models/civilClaimResponse.ts
  src/main/common/models/claim.ts
  src/main/modules/oidc/index.ts
  src/main/routes/features/dashboard/dashboardController.ts
  src/main/routes/features/response/citizenDob/citizenDobController.ts
  src/main/routes/features/response/citizenPhoneNumber/citizenPhoneController.ts
  src/main/routes/home.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/dashboard/dashboard.njk
  src/main/views/webpack/js.njk
  src/test/a11y/a11y.ts
  src/test/unit/app/client/civilServiceClient.test.ts
  src/test/unit/routes/features/dashboard/dashboardController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-175

#178 Attempt to address Redis connectivity issue
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  jest.a11y.config.js
  jest.config.js
  jest.functionaltest.config.js
  jest.routes.config.js
  jest.setup.redis-mock.ts
  jest.smoketest.config.js
  package.json
  src/integration-test/smoke-test.ts
  src/main/controllers/features/response/confirm-details.ts
  src/main/modules/draft-store/index.ts
  src/main/modules/health/index.ts
  src/test/unit/modules/draft-store/draftStore.test.ts
  src/test/unit/modules/health/health-down.test.ts
  src/test/unit/modules/health/health-up.test.ts
  src/test/unit/modules/i18n/i18n.test.ts
  src/test/unit/routes/features/response/ageEligibility/ageEligibilityController.test.ts
  src/test/unit/routes/features/response/confirmDetails.test.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-178

#195 Log connection string to troubleshoot invalid password error in demo
  src/main/modules/draft-store/index.ts
  src/main/modules/health/index.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-195

#203 Yarn.lock file updated
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-203

#205 Civ 1525 redis claim service
  src/main/common/models/civilClaimResponse.ts
  src/main/modules/draft-store/draftStoreService.ts
  src/test/a11y/a11y.ts
  src/test/unit/app/client/civilServiceClient.test.ts
  src/test/unit/modules/draft-store/draftStoreService.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-205

#206 Civ 1525 redis claim service
  src/main/modules/draft-store/draftStoreService.ts
  src/test/unit/modules/draft-store/draftStoreService.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-206

#189 Feature/civ 1125 postcode finder
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  config/default.yaml
  infrastructure/main.tf
  package.json
  sonar-project.properties
  src/main/app/client/civilServiceClient.ts
  src/main/assets/js/postcode-lookup.js
  src/main/common/form/models/citizenAddress.ts
  src/main/common/form/models/citizenCorrespondenceAddress.ts
  src/main/common/form/models/form.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validators/postcodeValidator.ts
  src/main/common/models/correspondenceAddress.ts
  src/main/common/models/respondent.ts
  src/main/common/utils/validator.ts
  src/main/controllers/features/response/confirm-details.ts
  src/main/index.js
  src/main/modules/draft-store/draftStoreService.ts
  src/main/modules/properties-volume/index.ts
  src/main/routes/features/response/citizenDetails/citizenDetailsController.ts
  src/main/routes/features/response/citizenDetails/postcodeLookupController.ts
  src/main/routes/features/response/claimDetails/claimDetailsController.ts
  src/main/routes/features/response/index.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/citizenDetails/citizen-details.njk
  src/main/views/features/response/claimDetails/claim-details.njk
  src/main/views/features/response/your-details.njk
  src/main/views/macro/address.njk
  src/main/views/webpack/js.njk
  src/test/a11y/a11y.ts
  src/test/unit/common/form/models/form.test.ts
  src/test/unit/controllers/features/response/confirm-details.test.ts
  src/test/unit/modules/draft-store/draftStoreService.test.ts
  src/test/unit/routes/features/response/citizenDetails/citizenDetailsController.test.ts
  src/test/unit/routes/features/response/citizenDetails/postcodeLookupController.test.ts
  src/test/unit/routes/features/response/claimDetails.test.ts
  src/test/unit/routes/features/response/claimDetails/claimDetailsController.test.ts
  src/test/unit/routes/features/response/confirmDetails.test.ts
  src/test/utils/mockClaim.ts
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-189

#218 Civ 1265 are you severely disabled
  src/main/common/form/models/statementOfMeans/disability.ts
  src/main/common/form/models/statementOfMeans/severeDisability.ts
  src/main/common/form/models/yesNo.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/claim.ts
  src/main/common/models/statementOfMeans.ts
  src/main/modules/nunjucks/index.ts
  src/main/modules/statementOfMeans/disabilityService.ts
  src/main/modules/statementOfMeans/severeDisabilityService.ts
  src/main/routes/features/response/statementOfMeans/disabilityController.ts
  src/main/routes/features/response/statementOfMeans/severeDisabilityController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/statement-of-means/are-you-severely-disabled.njk
  src/main/views/features/response/statement-of-means/disability.njk
  src/main/views/macro/yesNoForm.njk
  src/main/views/webpack/js.njk
  src/test/a11y/a11y.ts
  src/test/unit/common/form/models/disability.test.ts
  src/test/unit/routes/features/response/statementOfMeans/civilClaimResponseMock.json
  src/test/unit/routes/features/response/statementOfMeans/disabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/noStatementOfMeansMock.json
  src/test/unit/routes/features/response/statementOfMeans/severeDisabilityController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-218

#221 Feature/civ 1518 add base url
  src/main/routes/features/response/citizenDob/citizenDobController.ts
  src/main/routes/features/response/statementOfMeans/disabilityController.ts
  src/main/routes/urls.ts
  src/test/a11y/a11y.ts
  src/test/unit/routes/features/response/citizenDob/citizenDobController.test.ts
  src/test/unit/routes/features/response/citizenPhoneDetails/citizenPhoneController.test.ts
  src/test/unit/routes/features/response/citizenResponseType/citizenResponseTypeController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/disabilityController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-221

#207 Civ 1263 list bancks savings accounts
  src/main/app.ts
  src/main/assets/js/append-row.js
  src/main/common/form/models/bankAndSavings/bankAccount.ts
  src/main/common/form/models/bankAndSavings/bankAccountType.ts
  src/main/common/form/models/bankAndSavings/bankAccountTypeValues.ts
  src/main/common/form/models/bankAndSavings/bankAccountTypes.ts
  src/main/common/form/models/bankAndSavings/bankAccounts.ts
  src/main/common/form/models/form.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validationErrors/formValidationError.ts
  src/main/common/form/validators/accountBalanceValidator.ts
  src/main/common/form/validators/arrayAtLeastOneSelectedValidator.ts
  src/main/common/form/validators/formValidator.ts
  src/main/common/form/validators/validationConstraints.ts
  src/main/common/models/citizenBankAccount.ts
  src/main/common/models/claim.ts
  src/main/common/models/statementOfMeans.ts
  src/main/common/utils/urlFormatter.ts
  src/main/index.js
  src/main/modules/draft-store/draftStoreService.ts
  src/main/modules/statementOfMeans/bankAccounts/bankAccountConverter.ts
  src/main/modules/statementOfMeans/bankAccounts/bankAccountService.ts
  src/main/routes/features/response/responseType/citizenResponseType.ts
  src/main/routes/features/response/statementOfMeans/bankAccounts/bankAccountsController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/statementOfMeans/citizenBankAndSavings/citizen-bank-accounts.njk
  src/main/views/macro/bank-account.njk
  src/main/views/webpack/js.njk
  src/test/a11y/a11y.ts
  src/test/unit/common/form/models/ bankAccountAndSavings/bankAccount.test.ts
  src/test/unit/common/form/models/ bankAccountAndSavings/bankAccounts.test.ts
  src/test/unit/common/form/validators/accountBalanceValidator.test.ts
  src/test/unit/common/form/validators/arrayAtLeastOneSelectedValidator.test.ts
  src/test/unit/modules/draft-store/draftStoreService.test.ts
  src/test/unit/modules/statementOfMeans/bankAccounts/bankAccountConverter.test.ts
  src/test/unit/modules/statementOfMeans/bankAccounts/bankAccountService.test.ts
  src/test/unit/routes/features/response/citizenResponseType/citizenResponseTypeController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/bankAccounts/bankAccountsController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-207

#226 Extract ignored urls in a resource file
  README.md
  jest.a11y.config.js
  src/test/a11y/a11y.test.ts
  src/test/a11y/dummy.test.ts
  src/test/a11y/ignored-urls.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-226

#224 Feature/civ 1267 do you live with a partner
  src/main/common/form/models/statementOfMeans/partner/cohabiting.ts
  src/main/common/models/statementOfMeans.ts
  src/main/modules/statementOfMeans/partner/cohabitingService.ts
  src/main/routes/features/response/statementOfMeans/disabilityController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerAgeController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerController.ts
  src/main/routes/features/response/statementOfMeans/severeDisabilityController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/statementOfMeans/are-you-severely-disabled.njk
  src/main/views/features/response/statementOfMeans/disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner-age.njk
  src/main/views/features/response/statementOfMeans/partner/partner.njk
  src/main/views/macro/yesNoForm.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partnerAgeController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-224

#228 Civ 1271 is your partner disabled
  src/main/common/form/models/statementOfMeans/partner/partnerDisability.ts
  src/main/common/models/statementOfMeans.ts
  src/main/modules/statementOfMeans/partner/partnerDisabilityService.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerDisabilityController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/statementOfMeans/partner/partner-disability.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/routes/features/response/statementOfMeans/civilClaimResponseMock.json
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerDisabilityController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-228

#223 Civ 1241 send financial details
  src/main/common/models/civilClaimResponse.ts
  src/main/common/models/claim.ts
  src/main/common/models/counterpartyType.ts
  src/main/common/models/respondent.ts
  src/main/modules/nunjucks/index.ts
  src/main/routes/features/response/financialDetails/financialDetailsController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/financialDetails/financial-details.njk
  src/test/a11y/a11y.test.ts
  src/test/a11y/ignored-urls.ts
  src/test/unit/app/client/civilServiceClient.test.ts
  src/test/unit/routes/features/response/financial-details/claimIndividualMock.json
  src/test/unit/routes/features/response/financial-details/claimIndividualMockNoType.json
  src/test/unit/routes/features/response/financial-details/claimOrganisationMock.json
  src/test/unit/routes/features/response/financial-details/financialDetailsController.test.ts
  src/test/utils/mockClaim.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-223

#242 Update minimist version to 1.2.6
  package.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-242

#241 Civ 1662 fix disability bug
  src/main/common/form/models/statementOfMeans/disability.ts
  src/main/routes/features/response/statementOfMeans/disabilityController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerAgeController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerDisabilityController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerSevereDisabilityController.ts
  src/main/routes/features/response/statementOfMeans/severeDisabilityController.ts
  src/main/views/features/response/statementOfMeans/are-you-severely-disabled.njk
  src/main/views/features/response/statementOfMeans/disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner-age.njk
  src/main/views/features/response/statementOfMeans/partner/partner-disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner-severe-disability.njk
  src/main/views/features/response/statementOfMeans/partner/partner.njk
  src/test/unit/routes/features/response/statementOfMeans/disabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/employment/employmentStatusController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerAgeController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerDisabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerSevereDisabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/severeDisabilityController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-241

#256 Feature-1309 - Adding CIVIL_SERVICE_URL in the values.aat.template.ya…
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.aat.template.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-256

#265 Remove duplicate dependency in package.json
  package.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-265

#263 Feature 1309 - adding the secret for idam
  charts/civil-citizen-ui/Chart.yaml
  charts/civil-citizen-ui/values.aat.template.yaml
  charts/civil-citizen-ui/values.preview.template.yaml
  charts/civil-citizen-ui/values.yaml
  config/default.yaml
  src/main/app/client/civilServiceClient.ts
  src/main/modules/properties-volume/index.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-263

#237 Civ 1270 does your partner receive a pension
  src/main/common/form/models/statementOfMeans/partner/partnerPension.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/statementOfMeans.ts
  src/main/modules/statementOfMeans/partner/partnerPensionService.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerAgeController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerPensionController.ts
  src/main/routes/routes.ts
  src/main/views/features/response/statementOfMeans/partner/partner-pension.njk
  src/test/unit/routes/features/response/statementOfMeans/civilClaimResponseMock.json
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerPensionController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-237

#264 Civ 1678 improve coverage
  .gitignore
  package.json
  src/main/modules/statementOfMeans/disabilityService.ts
  src/main/modules/statementOfMeans/partner/cohabitingService.ts
  src/main/modules/statementOfMeans/partner/partnerAgeService.ts
  src/main/modules/statementOfMeans/partner/partnerDisabilityService.ts
  src/main/modules/statementOfMeans/partner/partnerPensionService.ts
  src/main/modules/statementOfMeans/partner/partnerSevereDisabilityService.ts
  src/main/modules/statementOfMeans/severeDisabilityService.ts
  src/main/routes/features/response/statementOfMeans/disabilityController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerAgeController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerDisabilityController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerPensionController.ts
  src/main/routes/features/response/statementOfMeans/partner/partnerSevereDisabilityController.ts
  src/main/routes/features/response/statementOfMeans/severeDisabilityController.ts
  src/test/tsconfig.json
  src/test/unit/routes/features/response/claimDetails/claimDetailsController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/disabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerAgeController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerDisabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerPensionController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerSevereDisabilityController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/residenceController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/severeDisabilityController.test.ts
  src/test/utils/errorMessageTestConstants.ts
  src/test/utils/mockDraftStore.ts
  src/test/utils/mocks/civilClaimResponseMock.json
  src/test/utils/mocks/civilClaimResponseOptionNoMock.json
  src/test/utils/mocks/noStatementOfMeansMock.json
  tsconfig.json
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-264

#268 Civ 1123 admit and pay
  src/main/common/form/models/admission/fullAdmission/paymentOption/paymentOption.ts
  src/main/common/form/models/admission/fullAdmission/paymentOption/paymentOptionType.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/models/claim.ts
  src/main/modules/admission/fullAdmission/paymentOption/paymentOptionService.ts
  src/main/routes/features/response/admision/fullAdmission/paymentOption/paymentOptionController.ts
  src/main/routes/features/response/financialDetails/financialDetailsController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/admission/fullAdmission/paymentOption/payment-option.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/statementOfMeans/admission/fullAddmission/paymentOption/paymentOption.test.ts
  src/test/unit/modules/admission/fullAdmission/paymentOption/paymentOptionService.test.ts
  src/test/unit/routes/features/response/admission/fullAdmission/paymentOption/paymentOptionController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/partner/partnerPensionController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-268

#255 Civ 1274 children aged 16 19
  src/main/common/form/models/statementOfMeans/dependants/betweenSixteenAndNineteenDependants.ts
  src/main/common/form/models/statementOfMeans/dependants/dependants.ts
  src/main/common/form/models/statementOfMeans/dependants/numberOfChildren.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validationErrors/formValidationError.ts
  src/main/common/form/validators/equalToOrLessThanPropertyValueValidator.ts
  src/main/common/form/validators/postcodeValidator.ts
  src/main/common/models/statementOfMeans.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/statementOfMeans/dependants/betweenSixteenAndNineteenService.ts
  src/main/routes/features/response/statementOfMeans/dependants/betweenSixteenAndNineteenController.ts
  src/main/routes/features/response/statementOfMeans/employment/employmentStatusController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/statementOfMeans/dependants/between_16_and_19.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/statementOfMeans/dependants/betweenSixteenAndNineteenDependants.test.ts
  src/test/unit/modules/statementOfMeans/dependants/betweenSixteenAndNineteenService.test.ts
  src/test/unit/routes/features/response/statementOfMeans/dependants/betweenSixteenAndNineteenController.test.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-255

#262 Feature/civ 1272 do any children live with you
  package.json
  src/main/common/form/models/genericForm.ts
  src/main/common/form/models/statementOfMeans/dependants/dependants.ts
  src/main/common/form/models/statementOfMeans/dependants/numberOfChildren.ts
  src/main/common/form/validationErrors/errorMessageConstants.ts
  src/main/common/form/validators/atLeastOneFieldIsPopulated.ts
  src/main/modules/draft-store/redisData.json
  src/main/modules/statementOfMeans/dependants/dependantsService.ts
  src/main/modules/statementOfMeans/residence/residenceService.ts
  src/main/routes/features/response/statementOfMeans/dependants/dependantsController.ts
  src/main/routes/features/response/statementOfMeans/residenceController.ts
  src/main/routes/routes.ts
  src/main/routes/urls.ts
  src/main/views/features/response/statementOfMeans/dependants/dependants.njk
  src/test/a11y/ignored-urls.ts
  src/test/unit/common/form/models/genericForm.test.ts
  src/test/unit/modules/statementOfMeans/dependants/dependantsService.test.ts
  src/test/unit/routes/features/response/statementOfMeans/dependants/dependantsController.test.ts
  src/test/unit/routes/features/response/statementOfMeans/residenceController.test.ts
  src/test/utils/mocks/civilClaimResponseMock.json
  yarn.lock
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-262

#270 Feature/civ 1309
  config/custom-environment-variables.yaml
  config/default.yaml
  src/main/app/client/civilServiceClient.ts
  src/main/modules/properties-volume/index.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-270

#266 Hotfix/civ 1683 redis data is cleared by your details screen
  src/main/common/form/models/citizenCorrespondenceAddress.ts
  src/main/common/models/correspondenceAddress.ts
  src/main/common/models/primaryAddress.ts
  src/main/modules/citizenDetails/citizenDetailsService.ts
  src/main/routes/features/response/citizenDetails/citizenDetailsController.ts
  src/test/unit/modules/citizenDetails/citizenDetailsService.test.ts
  src/test/unit/routes/features/response/citizenDetails/citizenDetailsController.test.ts
  src/test/utils/mockClaim.ts
  src/test/utils/mockForm.ts
Labels: ns:civil, prd:civil, rel:civil-citizen-ui-pr-266
